<h3>Search Result</h3>
<h3><%= @message %></h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Calories</th>
      <th>Date</th>
      <% if current_user.admin? %>
        <th>Name</th>
      <% end %>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @result.each do |meal| %>
      <% if meal.user == current_user || current_user.admin? %>
        <tr>
          <td><%= meal.name %></td>
          <td><%= meal.calories %></td>
          <td><%= meal.date %></td>
          <% if current_user.admin? %>
            <td><%= meal.user.name%></td>
          <% end %>
          <td><%= link_to 'Show', meal %></td>
          <td><%= link_to 'Edit', edit_meal_path(meal) %></td>
          <td><%= link_to 'Destroy', meal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', meals_path %>
